@import url("https://hello.myfonts.net/count/3323fe");


@font-face {
  font-family: 'UniNeueWeb';
  font-weight: 100;
  font-style: normal;
  src: url('webfonts/3323FE_C_0.eot');
  src: url('webfonts/3323FE_C_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_C_0.woff2') format('woff2'), url('webfonts/3323FE_C_0.woff') format('woff'), url('webfonts/3323FE_C_0.ttf') format('truetype');
}

@font-face {
  font-family: 'UniNeueWeb';
  font-weight: 300;
  font-style: normal;
  src: url('webfonts/3323FE_8_0.eot');
  src: url('webfonts/3323FE_8_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_8_0.woff2') format('woff2'), url('webfonts/3323FE_8_0.woff') format('woff'), url('webfonts/3323FE_8_0.ttf') format('truetype');
}

@font-face {
  font-family: 'UniNeueWeb';
  font-weight: 400;
  font-style: normal;
  src: url('webfonts/3323FE_5_0.eot');
  src: url('webfonts/3323FE_5_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_5_0.woff2') format('woff2'), url('webfonts/3323FE_5_0.woff') format('woff'), url('webfonts/3323FE_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'UniNeueWeb';
  font-weight: normal;
  src: url('webfonts/3323FE_A_0.eot');
  src: url('webfonts/3323FE_A_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_A_0.woff2') format('woff2'), url('webfonts/3323FE_A_0.woff') format('woff'), url('webfonts/3323FE_A_0.ttf') format('truetype');
}

@font-face {
  font-family: 'UniNeueWeb';
  font-weight: bold;
  font-style: normal;
  src: url('webfonts/3323FE_4_0.eot');
  src: url('webfonts/3323FE_4_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_4_0.woff2') format('woff2'), url('webfonts/3323FE_4_0.woff') format('woff'), url('webfonts/3323FE_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'UniNeueWeb';
  font-weight: 800;
  font-style: normal;
  src: url('webfonts/3323FE_7_0.eot');
  src: url('webfonts/3323FE_7_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_7_0.woff2') format('woff2'), url('webfonts/3323FE_7_0.woff') format('woff'), url('webfonts/3323FE_7_0.ttf') format('truetype');
}

@font-face {
  font-family: 'UniNeueWeb';
  font-weight: 900;
  font-style: normal;
  src: url('webfonts/3323FE_3_0.eot');
  src: url('webfonts/3323FE_3_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_3_0.woff2') format('woff2'), url('webfonts/3323FE_3_0.woff') format('woff'), url('webfonts/3323FE_3_0.ttf') format('truetype');
}


/* @font-face {
  font-family: 'UniNeue';
  font-weight: 700;
  font-style: italic;
  src: url('webfonts/3323FE_6_0.eot');
  src: url('webfonts/3323FE_6_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_6_0.woff2') format('woff2'), url('webfonts/3323FE_6_0.woff') format('woff'), url('webfonts/3323FE_6_0.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'UniNeue';
  font-weight: 300;
  font-style: italic;
  src: url('webfonts/3323FE_9_0.eot');
  src: url('webfonts/3323FE_9_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_9_0.woff2') format('woff2'), url('webfonts/3323FE_9_0.woff') format('woff'), url('webfonts/3323FE_9_0.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'UniNeue';
  font-weight: normal;
  font-style: italic;
  src: url('webfonts/3323FE_B_0.eot');
  src: url('webfonts/3323FE_B_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_B_0.woff2') format('woff2'), url('webfonts/3323FE_B_0.woff') format('woff'), url('webfonts/3323FE_B_0.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'UniNeue';
  font-weight: 100;
  font-style: italic;
  src: url('webfonts/3323FE_D_0.eot');
  src: url('webfonts/3323FE_D_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_D_0.woff2') format('woff2'), url('webfonts/3323FE_D_0.woff') format('woff'), url('webfonts/3323FE_D_0.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'UniNeue';
  font-weight: 900;
  font-style: italic;
  src: url('webfonts/3323FE_0_0.eot');
  src: url('webfonts/3323FE_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_0_0.woff2') format('woff2'), url('webfonts/3323FE_0_0.woff') format('woff'), url('webfonts/3323FE_0_0.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'UniNeue';
  font-weight: 500;
  font-style: italic;
  src: url('webfonts/3323FE_1_0.eot');
  src: url('webfonts/3323FE_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_1_0.woff2') format('woff2'), url('webfonts/3323FE_1_0.woff') format('woff'), url('webfonts/3323FE_1_0.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'UniNeue';
  font-weight: bold;
  font-style: italic;
  src: url('webfonts/3323FE_2_0.eot');
  src: url('webfonts/3323FE_2_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3323FE_2_0.woff2') format('woff2'), url('webfonts/3323FE_2_0.woff') format('woff'), url('webfonts/3323FE_2_0.ttf') format('truetype');
} */
