@keyframes fadeInVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes animateArrow {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
@keyframes modalIn {
    0% {
        opacity: 0;
        transform: translateY(.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
