@-webkit-keyframes fadeInVideo {
  0% {
    opacity: 0; }
  100% {
    opacity: .6; } }

@keyframes fadeInVideo {
  0% {
    opacity: 0; }
  100% {
    opacity: .6; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; } }

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    display: none; } }

@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none; } }

@-webkit-keyframes animateArrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px); } }

@keyframes animateArrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px); } }

@-webkit-keyframes modalIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); } }

@keyframes modalIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); } }
